<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="WebApiConfiguration" type="PowerShellRestApi.Configuration.WebApiConfiguration, PowerShellRestApi.WebApi" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<WebApiConfiguration HostAddress="http://10.8.15.177:9001" Version="1.0.0.0" Title="Sample PowerShell Command Rest API">
		<Jobs JobStorePath="c:\temp\" />
		<JwtAuthentication Enabled="false" StoreName="My" StoreLocation="LocalMachine" Thumbprint="E6B6364C75ED8B6495A42D543AC728B4C2263082" Audience="http://aperture.identity/connectors" />
    <ApiKeyAuthentication Enabled="true" Header="X-API-KEY" HeaderKey="" />
    <Users>
      <User Name="SeB" ApiKey="123" IpAddresses="10.1.53.10,10.1.52.10" Roles="admins" />
      <User Name="SeB2" ApiKey="1234" IpAddresses="" Roles="admins,OSInstallRW" />
    </Users>
	<Apis>
      <WebApi Name="OSInstall" Module="OSInstall.API.psm1">
        <WebMethods>
          <WebMethod Name="Post-Server" Command="Add-OSInstallServer" AsJob="false" Roles="OSInstallRW" ParameterForUserName="UserName" >
            <Parameters>
              <Parameter Name="Detail" Value="Value from configFile" />
            </Parameters>
          </WebMethod>
          <WebMethod Name="Get-Server" Command="Get-OSInstallServer" AsJob="false" Roles="OSInstallRW" AllowAnonymous="true" >
            <Parameters>
              <Parameter Name="Name" Location="Path" />
            </Parameters>
          </WebMethod>
          <WebMethod Name="Delete-Server" Command="Remove-OSInstallServer" AsJob="false" Roles="OSInstallRW" />
        </WebMethods>
      </WebApi>    
      <WebApi Name="Request" Module="CodeNetwork.psm1">
        <WebMethods>
          <WebMethod Name="Post-Validate" Command="Test-Request" AsJob="false" Roles="admins,users" Users="" />
          <WebMethod Name="Post-Submit" Command="Send-Request" AsJob="false" />
        </WebMethods>
      </WebApi>
      <WebApi Name="Demo" Module="DemoAnimal.psm1">
        <WebMethods>
          <WebMethod Name="Put-Animal" Command="Add-Animal" AsJob="false" />
          <WebMethod Name="Post-Animal" Command="New-Animal" AsJob="false" />
          <WebMethod Name="Get-Animal" Command="Get-Animal" AsJob="false" Roles="admins,users" Users="" />
          <WebMethod Name="Get-Animal2" Command="Get-Animal" AsJob="false" Roles="users" Users="" />
          <WebMethod Name="Get-Animal3" Command="Get-Animal" AsJob="false" />
          <WebMethod Name="Get-Info" Command="Get-Info" AsJob="false" ParameterForUserName="User" ParameterForUserRoles="Roles" ParameterForUserClaims="" />
        </WebMethods>
      </WebApi>

    <!--
      <WebApi Name="AD" Module="ActiveDirectory" DiscoveryComands="*user*,*domain*" />
      <WebApi Name="Example">
        <WebMethods>
          <WebMethod Name="GET-Message" AsJob="false" PowerShellPath="Example.ps1">
            <Parameters>
              <Parameter Name="message1" Location="Query" />
              <Parameter Name="message2" Location="Path" />
              <Parameter Name="message3" Location="Header" />
            </Parameters>
          </WebMethod>
          <WebMethod Name="Post-Message" AsJob="false" PowerShellPath="Example.ps1">
            <Parameters>
              <Parameter Name="message1" Location="Query" />
              <Parameter Name="message2" Location="Path" />
              <Parameter Name="message3" Location="Query" />
            </Parameters>
          </WebMethod>
          <WebMethod Name="Put-Message" AsJob="true" PowerShellPath="Example.ps1">
            <Parameters>
              <Parameter Name="message1" Location="Query" />
            </Parameters>
          </WebMethod>
          <WebMethod Name="Delete-Message" AsJob="true" PowerShellPath="Example.ps1">
            <Parameters>
              <Parameter Name="message1" Location="Query" />
            </Parameters>
          </WebMethod>
        </WebMethods>
      </WebApi>
-->
    </Apis>
	</WebApiConfiguration>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <bypassTrustedAppStrongNames enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.16.0" newVersion="1.0.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.0" newVersion="5.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
